/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{background-color: #1224f4;
    opacity: 0.9;
    background-image: radial-gradient(circle at center center, #030a48, #1224f4), repeating-radial-gradient(circle at center center, #030a48, #030a48, 23px, transparent 46px, transparent 23px);
    background-blend-mode: multiply;
}